*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
.semiHeader{
  font-family: 'Raleway', sans-serif;

}
.userPostFont{
  font-family: 'Albert Sans', sans-serif;

}
.videoCount{
  font-family: 'Kanit', sans-serif;

}